{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="card">
    <h2>Login</h2>


{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}

<form method="POST" onsubmit="return validateLogin()">
    {% csrf_token %}
    <input type="text" id="username" name="username" placeholder="Username" required>
    <input type="password" id="password" name="password" placeholder="Password" required>

    <button type="submit">Login</button>
</form>

<a href="/signup/" class="link">Don't have an account? Sign up</a>


</div>

<script>
function validateLogin() {
    let user = document.getElementById("username").value;
    let pass = document.getElementById("password").value;

    if (user.length < 3) {
        alert("Username must be at least 3 characters");
        return false;
    }

    if (pass.length < 5) {
        alert("Password must be at least 5 characters");
        return false;
    }

    return true;
}
</script>

{% endblock %}
